{% macro generate(items) %}
	<ul class="pagination">
	    <li class="disabled">
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    {% for item in items %}
	    	<li class="{{ 'active' if 1 == loop.index else '' }}"><a href="#">{{item}}</a></li>
	    {% endfor %}
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	</ul>
{% endmacro %}