{% macro generate(items,theme) %}
	<ul class="nav {{theme}}">
		{% for item in items %}
			{% if loop.first %}
				<li role="presentation" class="active"><a href="#">{{item}}</a></li>
			{% else %}
				<li role="presentation"><a href="#">{{item}}</a></li>
			{% endif %}		
		{% endfor %}
	</ul>
{% endmacro %}